---
---

<footer class="bg-black text-white p-6">
  <h2 class="hidden">Footer</h2>
  <p class="outfit">
    Hit me up @ <a href="mailto:tanmayshah314@gmail.com" class="text-blue"
      >tanmayshah314</a
    >
  </p>
</footer>
